#!/usr/bin/env bash
set -euo pipefail

hostnamectl set-hostname "${hostname}"

if ! command -v curl >/dev/null 2>&1; then
  export DEBIAN_FRONTEND=noninteractive
  apt-get update
  apt-get install --yes curl
fi
